/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/config/parameters.yml
/app/secrets/
/phpunit.xml
/vendor/
/web/bundles/
*~
.idea/
autocodesearches.yaml
bankaccounts.yaml
budgetaccounts.yaml
budgettemplate.yaml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
