{% extends 'base.html.twig' %}

{% block page_title %}Autocode Search{% endblock %}
{% block page_subtitle %}Search for bank transactions with no budget transactions, that match the SQL search string, and rename them and assign the entire value to a budget account.{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">Search</h3>
                    <div class="card-tools pull-right">
                    </div><!-- /.card-tools -->
                </div><!-- /.card-header -->
                <div class="card-body">
                    {{ form(form) }}
                </div>
                <div class="card-footer">
                </div><!-- card-footer -->
            </div><!-- /.card -->
        </div><!-- col -->

    </div><!-- row -->

{% endblock %}
